.navbar {
    background: linear-gradient(to top, #ffffff,#cceafc);   
    transition: background-color 0.5s ease; 
}

.navbar-nav .nav-link {
    font-size: 20px;    
    color: #000000;
    transition: color 0.5s ease; 
    
}
.navbar-nav .nav-link:hover {
    color:#0470b8; 
    border-bottom: 2px solid #0470b8;  
    border-right:2px solid #0470b8 ; 
    max-width: 118px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(125, 203, 235, 0.582);
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
     box-shadow: none
}
.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    transition: top 0.6s ease; 
}

.sticky-nav .navbar {
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo{
    width: auto;
    height: 40px;
}
.navbar-nav{
    justify-content: center;
}
.search.btn{
    border: 2px solid #94cff7;
    border-radius: 20px;
}
.search.btn:hover{
    background-color: #94cff7;
    color: #fff;
   
}

.form-control:focus{
    outline: 0;
    box-shadow: none;
    border-color:transparent;
}
.home {
    background-image: url('IMG/autumn-seasonal-golden-leaf-wallpaper.jpg');
    height: 87vh; 
    width: 100%; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.hed p{
    font-family: emoji;
    color: #000000;
    line-height: 40px;
    font-size: 30px;
}
@media (max-width:537px){
    .hed p{
        font-size: 22px;
    }
}
@media (max-width:400px) {
    .hed p{
        font-size: 19.8px;
    }
}
@media (max-width:363px){
    .hed p{
        font-size: 16.9px;
    }
}
.about.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #03899b;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
  }
  
  .about.button:hover::before {
    transform: scaleX(1);

  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .about.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(10, 169, 197) 10.8%,
      rgb(24, 197, 250) 94.3%
    );
    transition: all 0.475s;
  }
    .card {
        position: relative;
        overflow: hidden;
    }

    .card img {
        transition: transform 0.9s ease;
    }

    .card:hover img {
        transform: scale(1.1);
      
    }

    .card-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(253, 253, 253, 0.8); 
        padding: 10px;
        transform: translateY(100%);
        transition: transform 0.5s ease;
    }

    .card:hover .card-body {
        transform: translateY(0);
    
    }
    p.card-text {
        font-size: 20px;
        font-family: system-ui;
    }   
    .text-overlay {
        position: absolute;
        top: 10px; 
        left: 10px;
        color: hwb(0 100% 0%); 
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, sans-serif; 
        z-index: 1; 
        background-color: rgba(0, 0, 0, 0.336);  
         padding: 5px 10px;  
        border-radius: 5px;
    }
    .about.container-fluid{
    background-image: url('IMG/43996-removebg.png');
    height: 110vh; 
    width: 100%; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    }
    @media (max-width:932px){
        .about.container-fluid{
            height: 150vh; 
        }
    }
    @media (max-width:432px){
        .about.container-fluid{
            height: 125vh; 
            
        }
    }
    @media (max-width:374px){
        .about.container-fluid{
            height: 100vh; 
            
        }
    }
    h1#about{
     color: #3ea2b3;
    }
    .about .abt{
        font-size: 21px;
        font-family: sans-serif;
        color: #000;
    }
    @media(max-width:480px){
        p.card-text{
            font-size: 15px;
        }
        .text-overlay{
            font-size:18px;
        }
    }

    @media(max-width:334px){
        p.card-text{
            font-size: 13px;
        } 
        .text-overlay{
            font-size:16px;
        } 
    }
   


  
  
  